{% extends 'layouts/layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">BNG Public Register</h1>

<h2 class="govuk-heading-m"><a href="/search">Search BNG Reference</a></h2>
<h2 class="govuk-heading-m"><a href="/download/json">&#128441; Download register (JSON)</a></h2>

{% endblock %}
