{% extends "govuk/template.njk" %}

{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}{{ serviceName }} - GOV.UK{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
  
    <link href="/assets/css/4bb3b1d8bc7e27401316.css" rel="stylesheet">
  
  <!--<![endif]-->
  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="{{ assetPath }}/govuk-frontend/govuk/all-ie8.css" rel="stylesheet" />
  <![endif]-->
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: serviceUrl
  }) }}
{% endblock %}

{% block bodyStart %}

{% endblock %}

{% block bodyEnd %}
  
    <script src="/assets/js/26ad48c9fb4ff6f95b84.js"></script>
  
{% endblock %}
